{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Change Password | Food Waste Management</title>
    
    {% include 'UserFrontend/styles.html' %}
    
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
</head>

<!-- page wrapper -->

<body style="overflow-x:hidden;">

    <div class="boxed_wrapper">

    {% include 'UserFrontend/navbar.html' %}
    <br><br><br>
        <div class="container">

<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 order-md-last">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Change Password</h1>
                <!-- <p class="mb-4">Email Verified successfully! Enter your new Password here.</p> -->
              </div>
              <form action="#" class="user">
               <div class="form-group">
                  <input type="password" id="old_password" class="form-control form-control-user"  placeholder="Enter Old Password">
                  <span style="color:red" id="old_password_error"></span>
                </div>
                <div class="form-group">
                  <input type="password" id="password" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter New Password">
                  <span style="color:red" id="password_error"></span>
                </div>
                <div class="form-group">
                  <input type="password" id="confirm_password" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Confirm New Password">
                  <span style="color:red" id="confirm_password_error"></span>
                </div>
                <button type="button" id="changePassword" name="forgot-password" style="font-size:100%" onclick="return changePass();" class="btn btn-primary btn-user btn-block">
                  Change Password
                </button>
              </form>
            </div>
          </div>
          
          <div class="col-lg-6 d-none d-lg-block order-md-first bg-reset-password-image" style="text-align:justify">

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</div>

  
         {% include 'UserFrontend/footer.html' %}
    </div>

{% include 'UserFrontend/scripts.html' %}

</body>
<!-- End of .page_wrapper -->

</html>