{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Forgot Password | Food Waste Management</title>
    
    {% include 'UserFrontend/styles.html' %}
    
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
</head>

<script>
  var page = "{{page}}";
</script>

<!-- page wrapper -->

<body style="overflow-x:hidden;">

    <div class="boxed_wrapper">

    {% include 'UserFrontend/navbar.html' %}

        <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 order-md-last">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                    <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                  </div>
                  <form action="#" class="user">
                    <div class="form-group">
                      <input type="email" id="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                      <span style="color:red" id="email_error"></span>
                    </div>
                    <button type="button" id="forgotPass" name="forgot-password" style="font-size:100%" onclick="return forgotPassword();" class="btn btn-primary btn-user btn-block">
                      Forgot Password
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'usermodule:register' %}">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'usermodule:login' %}">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 d-none d-lg-block order-md-first bg-forgot-password-image" style="text-align:justify">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
  {% include 'UserFrontend/footer.html' %}
    </div>

{% include 'UserFrontend/scripts.html' %}

</body>
<!-- End of .page_wrapper -->

</html>