{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Verify | Food Waste Management</title>
{% include 'UserFrontend/styles.html' %}
    <style>
      .bg-forgot-password-image{
        background: url('https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhdmVsbGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80') !important;
      }
    </style>
</head>
<body>
<script>
    var code = "{{code}}";
//    alert(code);
    verifyMail();
</script>

    <script src="{% static 'assets/js/sweetalert.js' %}"></script>
</body>
</html>